@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;

}

/* For WebKit browsers (Chrome, Edge, Safari) */
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #fff; /* White track */
}

::-webkit-scrollbar-thumb {
  background-color: #007BFF; /* Blue thumb */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid #fff; /* White border around thumb */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: #007BFF #fff; /* thumb color, track color */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
